# Folders
.vs/
libchai3d.xcodeproj/
bin/resources
modules/GEL/bin/
modules/GEL/.vs/
modules/OCULUS/bin/
modules/OCULUS/.vs/
obj/Release/x64/
chai3d.xcodeproj/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# VS stuff
*.ipch
*.pdb
*.vsidx
*.db
*.bin
*.bsc
*.tlog

*.log

# Exceptions
!bin/resources/shaders/hole.frag